:root {
    --grey1: #c3e0d8;
    --grey2: #768a84;
    --grey3: #2f3836;
    --grey4: #232b28;
    --grey5: #161717;
    --green1: #77ed8c;
    --green2: #53a662;
    --green3: #28382b;
    --green4: #243127;
    --green5: #2f3b31;
    --gold1: #f7d23e;
    --gold2: #c7a930;
    --gold3: #aa9833;
    --gold4: #52440c;
}

body {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: var(--grey5);
    color: var(--green1);
    font-family: Inconsolata, monospace;
}

.title {
    font-size: 8rem;
    margin-bottom: 20rem;
}

.edu_container {
    margin-top: 10rem;
}

.edu_title {
    color: var(--green2);
    font-size: 4rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--green2);
}

.course {
    font-size: 2rem;
    padding: 5rem 8rem 5rem 8rem;
    border-bottom: 2px solid var(--green2);
    text-align: justify;
}




/* linksj */
a {
    color: var(--gold2);
    text-decoration: none;
}

a:hover {
    color: var(--gold1);
}

a:visited {
    color: var(--gold3);
}

a:hover:visited {
    color: var(--gold1)
}

a:active {
    color: var(--green1);
}