body {
    background-color: #eee;
}

.calculator {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 10px;
}

h1 {
    margin-top: 2rem;
}

input {
    margin: 10px;
    padding: 4px;
}

.pass {
    border: 2px solid limegreen;
    background-color: lightgreen;
}

.fail {
    border: 2px solid crimson;
    background-color: pink;
}

#result {
    font-size: x-large;
    text-align: center;
}
